@model List<WebApplication1.Models.Member>
@{
    ViewBag.Title = "Member";
}


<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Member</h1>
        </div>

        <div class="col-md-2">
            <a class="btn btn-success  btn-block btn-lg" style="margin-top:15px;" href="~/Member/Create">Create</a>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>Number </td>
                        <td>Name </td>
                        <td>Price </td>
                        <td></td>

                    </tr>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].ID</td>
                            <td>@Model[i].Number</td>
                            <td>@Model[i].Name</td>
                            <td>@Model[i].Price</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="~/Member/Update/@Model[i].ID">Edit</a>
                                <a class="btn btn-danger btn-sm" href="~/Member/Delete/@Model[i].ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>