
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MemberIndex</title>
</head>
<body>
    <img src="~/Content/Image/Desert.jpg" />
    <div> 
        組員清單
    </div>
</body>
</html>
