@model List<WebApplication1.Models.Album>
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/Layout.cshtml";
}


<div class="container">
    <div>
        <h1>首頁</h1>
    </div>
    <a href="~/Album">My Album</a>
    
</div>

