@model List<WebApplication1.Models.Album>
@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h1>Group 12</h1>
            <p>ASP.Net Final Work</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/Album" role="button">Learn more »</a>
            </p>
        </div>
    </div>
</div>
