
@{
    var id = ViewBag.ID;
    var list = (List<WebApplication1.Models.Album>)ViewBag.ListDatas;
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>hello world:@id</h1>
    </div>
    <table border="1">
        <thead></thead>
        <tbody>
            <tr>
                <td>Genre </td>
                <td>Title </td>
                <td>Price </td>
            </tr>
            @for (var i = 0; i < list.Count; i++)
            {
                <tr>
                    <td>@list[i].Genre</td>
                    <td>@list[i].Title</td>
                    <td>@list[i].Price</td>
                </tr>
            }



        </tbody>
        <tfoot></tfoot>

    </table>
</body>
</html>
